<<<<<<< HEAD













































































































html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.top{
    width: 100%;
    background-color: red;
}
.navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.profile{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
}
.nav{
    background-color: yellow;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.navElement{
    width: 8em;
    padding: 1em 1em 1em 1em;
    margin: 0 .5em 0 .5em;
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.profileElement{
    width: 5em;
    padding: 1em 1em 1em 1em;
    margin: 0 .5em 0 .5em;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-content: center;
}
.navElement span{
    display:inline-block;
    margin-left: .5em;
}
.navElement i {
    margin-right: .5em;
}
a{
    text-decoration: none;
    color: black;
=======
body{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
}
.head{
    display: flex;
    height: 50px;
    margin-bottom: 20px;
}

.bottom{
    display: flex;
}

.bottomRight{
    display: flex;
    flex-direction: column;
}

.function{
    width: 30%;
    height: 100px;
    background-color: darkblue;
>>>>>>> origin/master
}